.alerts-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-content {
  display: flex;
  flex-direction: row;
}

.input-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.option-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.route-search {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 0.35rem 0.6rem;
}

.route-search-input {
  border: none;
  outline: none;
}

.search-icon,
.filter-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.effect-dropdown {
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
}